<%= form_for [:admin , @user] do |form| %>
<table class="attr">
    <th><%= form.label :new_picture %> </th>
    <td><%= form.file_field :new_picture %> </th>
</table>
  <div><%= form.submit %></div>
<% end %>