<% if @users.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>生成画像の追加</th>
        <th>生成状況</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= link_to "追加" , [:edit , :admin , user]%></td>
          <% if user.picture.attached? %>
            <td><%= "◯" %></td>
          <% else %>
            <td><%= "×" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>会員情報がありません。</p>
<% end %>